	body{background: #018249; font-size: 12px;}
	header{margin-bottom: 1em;}
	h2{font-weight: 700;}
	.green{color: #018249;}
	.orange{color: #f28e1c;}
	.line_orange{width: 100%; float: left; border-bottom: 2px solid  #f28e1c; margin:.6em 0 .6em 0; display: block;}
	.line_orange_s{width: 100%; float: left; border-bottom: 1px solid  #f28e1c; margin:.6em 0 .6em 0; display: block;}
	.bg_gris{background: #eee; border:1px solid #f2f2f2; float: left; width: 100%}
	.inside{margin: 1em;}
	.align_center{text-align: center;}
.error{color:red;}

	#main_content{background: #fff; }
	#menu_uno {font-size: 11px;}
	#menu_uno li{float: left; list-style: none; color: #fff;}
	#menu_uno li a{ padding-bottom: .5em; padding-top: .5em; color: #fff;margin:.5em; text-decoration: none; }

	
	#menu_dos {
	  padding: 10px 0px;
	}
	#menu_dos li{float: left; list-style: none; text-transform: uppercase; font-size: 12px;}
	#menu_dos li a{padding: .5em .8em;  color: #018249; text-decoration: none;}
	#menu_dos li a:hover{padding: .5em .8em; background:#018249;  color: #FFF;}
	#menu_dos li a:active{padding: .5em .8em; background:#018249;  color: #FFF;}

	.no-gutter [class*="-6"] {
    	padding:0;
	}

	.no-gutter [class*="-12"] {
    	padding:0;
	}


	/*****  PARA COLUMNAS DE 7 *****/
	.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
	}
	.row.no-gutters > [class^="col-"],
	.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
	}
	
	#main_content {
		padding: 35px;
	}
	#carousel-productos, #carousel-novedades{float: left;}
	
	footer{margin-bottom: 4em; margin-top: 2em; color: #ccc;}
	footer h4{color: #FFF;}
	#footer_servicios_links, #footer_productos_links{color: #fff; float: left; width:100%; list-style: none; margin: 0; padding: 0;}
	#footer_servicios_links ul{ list-style: none; margin:0; padding: 0;}
	#footer_servicios_links ul li{ list-style: none; margin:0; padding: 0; }
	#footer_servicios_links a, #footer_productos_links a { float: left; width: 100%; margin: .4em 0; color: #ccc; font-weight: 300; text-decoration: none;}
	#footer_servicios_links a:hover, #footer_productos_links a:hover { color: #fff;}

	
	#logos_footer img{float: left;}

	#galeria_footer .thumb_footer{width: 70px; float: left; margin:0; height: 70px; overflow: hidden;}
	#galeria_footer .thumb_footer img{margin:0; width:100%}

/* COLUMNAS DE 7 SERVICIOS */
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}


@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/*********  INICIO *******/
#inicio #grupo_productos .post-content {top:20%; width:100%; left:auto;position: absolute; text-align: center; color: #fff; text-transform: uppercase;}
#inicio #grupo_productos .post-content h3{top:20%; width:70%; margin:1em auto; text-align: center; color: #fff; }
#inicio #grupo_productos .post-content a{color: #fff;text-decoration: none;}
#inicio #grupo_productos .post-content a:hover{color: #f2f2f2;}
#inicio .videoContainer{display:block;overflow:hidden;}

/*********  LA EMPRESA *******/

#la_empresa #wrapp_carousel_la_empresa{  width: 90%; float: left; }

#la_empresa #mision_objetivos{margin-top: 2em; margin-bottom: 2em; }
#la_empresa #nuestros_valores{margin-top: 2em;}
#la_empresa #maderera_pinar{margin-top: 2em;}

/*********  GRUPO DE PRODUCTOS *******/
#grupo_de_productos .item a{color: #fff}

#grupo_producto #carousel-productos img{width: 100%;}
#grupo_producto #thumbs_productos img{  width: 90px; height: 90px;}
#grupo_producto #thumbs_productos a{ float:left; display:block; width: 90px; height: 90px; margin: .4em .4em 0 0;}
#grupo_producto #adjunto_producto a{font-size:14px; background: #018249; color: #fff; border:0; margin: .8em 0; padding: .5em .8em;}
#grupo_producto #adjunto_producto a:hover{text-decoration: none; background: #799b34}



/*********  SERVICIOS *******/
#servicios .iconos_servicios{margin-top: 1em; margin-bottom: 1em;}

/*********  SERVICIO DETALLE *******/
#servicio_detalle #info_sucursales {padding-top: 0}

#servicio_detalle #info_sucursales h2{margin-top: 0;}


/*********  NOVEDADES *******/
#novedades .post-content {top:60%;left:auto;position: absolute;}
#novedades .post-content a {color: #fff; text-decoration: none;}
#novedades .post-content a:hover{color: #f28e1c; text-decoration: none;}



/*********  SUCURSALES *******/
#sucursales #datos_sucursal{margin:0; padding: 0; font-size: 14px;}
#sucursales #datos_sucursal li{margin-bottom: .5em; list-style: none;}
#sucursales #datos_sucursal i{color: #018249; margin-right: .5em;}
#sucursales #form_contacto input{width: 100%; padding: .5em;border:1px solid #018249; margin-bottom: 1em;}
#sucursales #form_contacto select{width: 49%; padding: .5em; margin-bottom: 1em;border:1px solid #018249;}
#sucursales #form_contacto textarea{width: 100%; padding: .3em; margin-bottom: 1em;border:1px solid #018249;}
#sucursales #form_contacto #wrapp_container{text-align: center;}
#sucursales #form_contacto button{padding: .6em 2em; background: #018249; color: #fff; border:0;}
#sucursales iframe{width: 100%}

/*********  NOVEDADES *******/
#novedades_detalle .post-content {top:60%; left:40px;position: absolute;}
#novedades_detalle .post-content h3{color: #fff;  text-shadow: 1px 1px #000;}
#novedades_detalle .post-content p{color: #fff;  text-shadow: 1px 1px #000; font-size: 16px;}
#novedades_detalle #contenido_novedad{font-size: 12px;}

/*********  CAPACITACIONES *******/
#capacitaciones h1{color: #f28e1c;}
#capacitaciones #navegacion_capacitaciones{font-size: 14px; width: 100%; background: #018249; color: #F2F2F2; padding: .8em 0 .8em 0;}
#capacitaciones #navegacion_capacitaciones i{padding-top: -30px}
#capacitaciones #navegacion_capacitaciones a{color: #fff; font-size: 16px; padding: 0 1em 0 1em;}
#capacitaciones #navegacion_capacitaciones a:hover{color: #f2f2f2}
#capacitaciones #navegacion_capacitaciones #mes_en_curso{font-weight: bold; color: #fff; font-size: 20px;}
#capacitaciones #navegacion_capacitaciones .meses_anteriores{padding: 0 1em;}
#capacitaciones .dia_capacitacion{font-size: 80px; font-weight: bold; text-align: center;padding-top: .5em; color: #018249;}

#capacitaciones .cuadro_capacitacion hr{border-bottom: 1px solid green}

#capacitaciones .cuadro_capacitacion h2{color: #f28e1c; font-weight: normal; font-size: 24px}
#capacitaciones .sin_capacitaciones{text-align: center;color: #b2b2b2;}



/*********    IMAGES CAROUSEL *******/
.carousel .item>img {

  min-width: 100%;

}